<launch>
  <node pkg="myahrs_driver" type="myahrs_driver" name="myahrs_driver_1" output="screen">
    <param name="port" value="/dev/ttyACM0" />
    <param name="baud_rate" value="115200" />
    <param name="dev_id" value="1" />
  </node>

  <node pkg="myahrs_driver" type="myahrs_driver" name="myahrs_driver_2" output="screen">
    <param name="port" value="/dev/ttyACM1" />
    <param name="baud_rate" value="115200" />
    <param name="dev_id" value="2" />
  </node>
  <!--node pkg="rviz" type="rviz" name="rviz" args="-d $(find myahrs_driver)/rviz_cfg/imu_test.rviz" /-->
</launch>
